/* Styles for the body of the page */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #84c3e5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}

/* Styles for the main element */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

/* Styles for the element with the ID img_logo */
#img_logo {
  width: 130px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Styles for elements with the class .link */
.link {
  display: flex; /* Use flexbox to align elements horizontally */
  align-items: center; /* Align elements vertically at the center */
  margin-bottom: 10px;
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
  background-color: #f9f6f6;
  color: #84c3e5;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.link span {
  flex: 1; /* Make the text occupy the entire available width */
}

.link i {
  font-size: 20px;
  margin-left: 10px;
}

/* Styles for the .textp class */
.textp {
  font-weight: 600;
  margin-top: -20px;
}

/* Styles for links when hovered */
.link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles for the element with the ID links-container */
#links-container {
  margin-top: 15px;
}

/* Styles for the .CopyLink class and its descendants */
.CopyLink {
  display: flex;
  align-items: center;
}

.CopyLink a {
  flex: 1;
  font-size: 16px;
  text-decoration: none;
  color: rgb(24, 151, 219); /* Link color */
}

/* Media query for screens with a maximum width of 800 pixels */
@media only screen and (max-width: 800px) {
  .link {
    color: rgb(24, 151, 219);
    font-size: 20px;
    padding: 15px;
  }
  .link i {
    font-size: 3.5vw;
    margin-left: 1vw;
  }
  #img_logo {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50%;
    margin-top: 25px;
  }
}
